NEON_DB_LINK="DATABASE POOLED LINK"
PORT="PORT NUMBER"
NODE_ENV="DEVELOPMENT OR PRODUCTION ENVIRONMENT"
JWT_ACCESS_SECRET="YOUR RANDOM 64 DIGIT ACCESS SECRET KEY"
JWT_ACCESS_EXPIRES_IN="ACCESS TOKEN EXPIRY TIME E.G. 15m"
JWT_REFRESH_SECRET="YOUR RANDOM 64 DIGIT REFRESH SECRET KEY"
JWT_REFRESH_EXPIRES_IN="REFRESH TOKEN EXPIRY TIME E.G. 7d"
BCRYPT_SALT_ROUND="NUMBER OF HASHING ROUNDS E.G. 12"
APP_LOCAL_URL="LOCAL SERVER URL E.G. http://localhost:5000"
NEON_DB_LINK_DIRECT="DATABASE DIRECT LINK"
COMMON_PASSWORD="DEFAULT FALLBACK PASSWORD FOR SEEDING USERS"
